#mainRow {
	align-content: center; 
	margin-top: 10;
}
#loginFrame {
	padding: 30px;
	align-content: center;
	box-shadow: 0px 0px 5px grey;
	border-radius: 7px;
	background-color: white
}
#rememberMeCheckbox {
	margin:0;
}
#rememberMeLabel {
	margin-left: 6%;
}