<html>
<head>
	<title>Register</title>
	<!-- bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	
</head>
<body>
	{% with selectedElement="registerPage", authorized=False %}
      {% include "navigationBar.html"%}
    {% endwith %}
	<div class="container">
		<div id="registerRow" class="row">
			<div class="col-sm-4"> </div>
			<div class="col-sm-4">
				<form id="myForm">
					<div class="form-group">
						<label for="exampleInputEmail1">Login</label>
						<input type="email" class="form-control" id="loginInput" aria-describedby="emailHelp">
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Hasło</label>
						<input type="password" class="form-control" id="passwordInput">
					</div>
					<div class="form-group">
						<label>Powtórz Hasło</label>
						<input type="password" class="form-control" id="passwordInput1">
					</div>
					<input type="button" onclick="register()" value="Zarejestruj się" class="btn btn-success">
				</form>
			</div>
		</div>
      </div>
	</div>
	<!-- bootstrap -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<!-- jquery -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="{{ url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
	<!-- dedicated to the page -->
	<script src="../static/js/main.js"></script>
	<script src="../static/js/registerPage.js"></script>
</body>
</html>